<div class="container py-5">
    <div class="row mb-4">
        <div class="col">
            <h1 class="display-5">Welcome back, <%= user.name %>!</h1>
            <p class="text-muted">Here is an overview of your current accounts.</p>
        </div>
    </div>

    <div class="d-flex justify-content-between mb-4">
        <div class="col">   
            <a href="/account/create" class="btn btn-primary">Create Account</a>
            <a href="/friends?search=all" class="btn btn-primary">Friends</a>
            <a href="/friends/my-friends" class="btn btn-primary">Your Friends</a>
        </div>
        <div class="col d-flex justify-content-end">
            <a href="/transfer/create" class="btn btn-primary">Intiate Transfer</a>
        </div>
    </div>

    

    <!-- Active Accounts -->
    <% if (accounts.length == 0) { %>
        <div class="card shadow-sm">
            <div class="card-header bg-white py-3">
                <h5 class="mb-0">Your Accounts Active Accounts</h5>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover mb-0 align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>Account Name</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th class="text-end">Balance/Usage</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5" class="text-center">No accounts found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% } else { %>

    <div class="card shadow-sm">
        <div class="card-header bg-white py-3">
            <h5 class="mb-0">Your Accounts</h5>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0 align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Account Name</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th class="text-end">Balance/Usage</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% accounts.forEach(account => { %>
                            <tr>
                                <td><strong><%= account.accountName %></strong></td>
                                <td><%= account.accountType %></td>
                                <td class="flex flex-row justify-center items-center">
                                    <% if (account.isDeleted == false) { %>    
                                        <p class="text-success"><i class="fa-solid fa-circle"></i>active</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fa-solid fa-circle"></i>inactive</p>
                                    <% } %>
                                </td>
                                <td class="text-end font-monospace"><%= account.balance %></td>
                                <td>
                                    <a href="/account/edit/<%= account.id %>" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="/account/delete/<%= account.id %>" class="btn btn-sm btn-danger">Deactivate</a>
                                </td>
                            </tr>   
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <% } %>
    

    <!-- InActive Accounts -->
    <% if (inactiveAccounts.length == 0) { %>
        <div class="card shadow-sm px-4 py-4 mt-4">
            <div class="card-header bg-white py-3">
                <h5 class="mb-0">Your InActive Accounts</h5>
            </div>
            <div class="card-body p-0 mt-4">
                <div class="table-responsive">
                    <table class="table table-hover mb-0 align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>Account Name</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th class="text-end">Balance/Usage</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5" class="text-center">No accounts found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% } else { %>

    <div class="card shadow-sm mt-4">
        <div class="card-header bg-white py-3">
            <h5 class="mb-0">Your InActive Accounts</h5>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0 align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Account Name</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th class="text-end">Balance/Usage</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% inactiveAccounts.forEach(account => { %>
                            <tr>
                                <td><strong><%= account.accountName %></strong></td>
                                <td><%= account.accountType %></td>
                                <td class="flex flex-row justify-center items-center">
                                    <% if (account.isDeleted == false) { %>    
                                        <p class="text-success"><i class="fa-solid fa-circle"></i>active</p>
                                    <% } else { %>
                                        <p class="text-danger"><i class="fa-solid fa-circle"></i>inactive</p>
                                    <% } %>
                                </td>
                                <td class="text-end font-monospace"><%= account.balance %></td>
                                <td>
                                    <a href="/account/edit/<%= account.id %>" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="/account/activate/<%= account.id %>" class="btn btn-sm btn-success">Activate</a>
                                </td>
                            </tr>   
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <% } %>
</div>

